<script id="movies-template" type="x-handlebars-template">
  {% raw %}
    {{#if movies}}
      <hr>

      <section>
        {{#each movies as |movie movieId|}}
          <article class="movie" data-id="{{movie.id}}">
            <img src="{{movie.posters.thumbnail}}" alt="">
            <div class="movie__details">
              <h1>{{movie.title}}</h1>
              {{#if movie.release_dates.theater}}
                {{#if movie.already_released}}
                  <p class="movie__release-date--unavailable">
                    This movie was already released at <time>{{movie.release_dates.theater}}</time>.
                  </p>
                {{else}}
                  <p class="movie__release-date">
                    Will be released on <time>{{movie.release_dates.theater}}</time>.
                  </p>
                {{/if}}
              {{else}}
                <p class="movie__release-date--unavailable">
                  There&rsquo;s no info about release date.
                </p>
              {{/if}}
              {{#if movie.synopsis}}
                <div class="movie__synopsis text">
                  <p>{{movie.synopsis}}</p>
                </div>
              {{/if}}
              <p class="movie__rotten-link">
                <a href="{{movie.links.alternate}}">View on Rotten Tomatoes &rarr;</a>
              </p>
            </div>
            <div class="movie__subscribe">
              <a href="#show-details" class="movie__show-details">&larr; Back to movie details</a>
              {{#if movie.release_dates.theater}}
                {{#if movie.already_released}}
                  <div class="movie__info text">
                    <p class="movie__release-date--unavailable">
                      You cannot subscribe to this movie premiere as it was already released at <time>{{movie.release_dates.theater}}</time>.
                    </p>
                  </div>
                {{else}}
                  <div class="movie__info text">
                    <p>You will receive email notification three days before premiere. You can <a href="unsubscribe">opt out of notifications</a> in any moment. Your email will only be used to send you notification, it will not be spammed.</p>
                  </div>
                  <div class="movie__form"></div>
                {{/if}}
              {{else}}
                <div class="movie__info text">
                  <p class="movie__release-date--unavailable">
                    You cannot subscribe to this movie premiere because there&rsquo;s no info about it&rsquo;s release.
                  </p>
                </div>
              {{/if}}
            </div>
          </article>
        {{/each}}
      </section>
    {{else}}
      {{#unless error}}
        <section class="text">
          <p><strong>Empty list</strong>. There are no movies with "<em>{{params.title}}</em>" in the title.</p>
        </section>
      {{/unless}}
    {{/if}}
  {% endraw %}
</script>
