<script id="notifications-template" type="x-handlebars-template">
  {% raw %}
    {{#if notifications}}
      <hr>

      <section>
        {{#each notifications as |notification notificationId|}}
          <article class="notification" data-id="{{notification.id}}">
            <img src="{{notification.premiere.poster_url}}" alt="">
            <div class="notification__details">
              <h1>{{notification.premiere.title}}</h1>
              <p class="movie__release-date">
                Will be released on <time>{{notification.premiere.released_at}}</time>.
              </p>
            </div>
          </article>
        {{/each}}
      </section>
    {{else}}
      {{#unless error}}
        <section class="text">
          <h2>Empty list</h2>
          <p>There are no notifications.</p>
        </section>
      {{/unless}}
    {{/if}}
  {% endraw %}
</script>
