<script id="subscribe-template" type="x-handlebars-template">
  {% raw %}
    <form method="post" action="api/notifications" class="form">
      <input type="hidden" name="movie_id" value="{{params.movie_id}}">
      <fieldset>
        <input type="email" name="email" placeholder="Enter your email address" value="{{params.email}}">
        <input type="submit" value="Subscribe" data-initial="Subscribe" data-submit="Processing&hellip;">
      </fieldset>
      {{#if error}}
        <p class="form__error">{{error}}</p>
      {{else}}
        {{#if user}}
          <p class="form__success">You have successfully subscribed to {{movie.title}}!</p>
        {{/if}}
      {{/if}}
    </form>
  {% endraw %}
</script>
