<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Premiefier</title>
        <link href="styles/main.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <h1>Premiefier</h1>
            <h2>Be notified about premiere of your awaited movie.</h2>
        </header>

        <hr>

        <form method="get" action="">
            <fieldset>
                <input type="search" name="title" placeholder="Enter movie title here" value="{{ title }}" autofocus>
                <input type="submit" value="Search" data-initial="Search" data-processing="Searching&hellip;">
            </fieldset>

            {% if title and movie.Error %}
                <p>Movie was not found.</p>
            {% elseif already_released %}
                <p>This movie is already released.</p>
            {% endif %}
        </form>

        <hr>

        {% if not movie.Error %}

            <article>
                {% if movie.Poster and movie.Poster != "N/A" %}
                    <img src="{{ movie.Poster }}" alt="">
                {% else %}
                    <img src="//placehold.it/300x300&amp;text=No+poster" alt="">
                {% endif %}
                <h1>{{ movie.Title }}</h1>
                <dl>
                    <dt>Genre</dt>
                    <dd>{{ movie.Genre }}</dd>
                    <dt>Release Date</dt>
                    <dd>{{ movie.Released|date("m/d/Y") }}</dd>
                    <dt>Plot</dt>
                    <dd>{{ movie.Plot }}</dd>
                </dl>
            </article>

            <hr>

            {% if not already_released %}

                <form method="get" action="">
                    <input type="hidden" name="movie" value="{{ movie.Title }}">
                    <fieldset>
                        <input type="email" name="email" placeholder="Enter your email address to receive notification" value="{{ email }}" autofocus>
                        <input type="submit" value="Subscribe">
                    </fieldset>
                </form>

                <hr>

            {% endif %}

        {% endif %}

        <footer>
            <small>Made by <a href="//lamberski.com">Maciej Lamberski</a>. <a href="//github.com/lamberski/movie-notifier">Source on GitHub</a>.</small>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
