{% if movie.wasFound %}

    <article>
        {% if movie.poster and movie.poster != "N/A" %}
            <img src="{{ movie.poster }}" alt="">
        {% else %}
            <img src="//placehold.it/300x300&amp;text=No+poster" alt="">
        {% endif %}
        <h1>{{ movie.title }}</h1>
        <dl>
            <dt>Genre</dt>
            <dd>{{ movie.genre }}</dd>
            <dt>Release Date</dt>
            <dd>{{ movie.releasedAt|date("m/d/Y") }}</dd>
            <dt>Plot</dt>
            <dd>{{ movie.plot }}</dd>
        </dl>
    </article>

{% endif %}
