{% extends "layout.twig" %}

{% block content %}
  <div id="dsad">

  </div>
{% endblock %}

{% block templates %}
  <script id="search-template" type="x-handlebars-template">
    {% raw %}
      <form method="post" action="/search" id="search">
        <fieldset>
          <input type="text" name="title" placeholder="Enter movie title" value="{{title}}" autofocus>
          <input type="submit" value="Search" data-initial="Search" data-processing="Searching&hellip;">
        </fieldset>

        <!--{% if title and movie %}
            {% if not movie.wasFound %}
                <p class="error">Movie was not found.</p>
            {% elseif movie.releasedAt == 'N/A' %}
                <p class="error">Release date of this movie is not available.</p>
            {% elseif movie.isAlreadyReleased %}
                <p class="error">This movie was already released.</p>
            {% endif %}
        {% elseif movie %}
            <p class="error">Enter movie title.</p>
        {% endif %}-->
      </form>
    {% endraw %}
  </script>
  <script id="movie-template" type="x-handlebars-template">
    {% raw %}
      <article id="movie">
        {{#if poster}}
          <img src="{{poster}}" alt="">
        {{/if}}
        <h1>{{title}}</h1>
        <dl>
          <dt>Genre</dt>
          <dd>{{genre}}</dd>
          <dt>Release Date</dt>
          <dd>{{movie.releasedAt}}</dd>
          <dt>Plot</dt>
          <dd>{{plot}}</dd>
        </dl>
      </article>
    {% endraw %}
  </script>
  <script id="subscribe-template" type="x-handlebars-template">
    {% raw %}
      <form method="post" action="/subscribe" id="subscribe">
        <input type="hidden" name="title" value="{{title}}">
        <fieldset>
          <input type="email" name="email" placeholder="Enter your email address" value="{{email}}" autofocus>
          <input type="submit" value="Subscribe">
        </fieldset>
        <p>You will receive email notification a week before premiere. You can <a href="/opt-out">opt out of notifications</a> in any moment.</p>
      </form>
    {% endraw %}
  </script>
{% endblock %}
