{% extends "layout.twig" %}

{% block content %}
  <div id="search-container"></div>
  <div id="movie-container"></div>
  <div id="subscribe-container"></div>
{% endblock %}

{% block templates %}
  <script id="search-template" type="x-handlebars-template">
    {% raw %}
      <form method="post" action="api/search" id="search">
        <fieldset>
          <input type="text" name="title" placeholder="Enter movie title" value="{{title}}" autofocus>
          <input type="submit" value="Search" data-initial="Search" data-processing="Searching&hellip;">
        </fieldset>

        <p class="error">{{error}}</p>
      </form>
    {% endraw %}
  </script>
  <script id="movie-template" type="x-handlebars-template">
    {% raw %}
      <article id="movie">
        {{#if movie.poster}}
          <img src="{{movie.poster}}" alt="">
        {{/if}}
        <h1>{{movie.title}}</h1>
        <dl>
          <dt>Genre</dt>
          <dd>{{movie.genre}}</dd>
          <dt>Release Date</dt>
          <dd>{{movie.releasedAt}}</dd>
          <dt>Plot</dt>
          <dd>{{movie.plot}}</dd>
        </dl>
      </article>
    {% endraw %}
  </script>
  <script id="subscribe-template" type="x-handlebars-template">
    {% raw %}
      <form method="post" action="api/subscribe" id="subscribe">
        <input type="hidden" name="title" value="{{title}}">
        <fieldset>
          <input type="email" name="email" placeholder="Enter your email address" value="{{email}}" autofocus>
          <input type="submit" value="Subscribe">
        </fieldset>
        <p>You will receive email notification a week before premiere. You can <a href="unsubscribe">opt out of notifications</a> in any moment.</p>
      </form>
    {% endraw %}
  </script>
{% endblock %}
