{% if not movie.Error %}

    <article>
        {% if movie.Poster and movie.Poster != "N/A" %}
            <img src="{{ movie.Poster }}" alt="">
        {% else %}
            <img src="//placehold.it/300x300&amp;text=No+poster" alt="">
        {% endif %}
        <h1>{{ movie.Title }}</h1>
        <dl>
            <dt>Genre</dt>
            <dd>{{ movie.Genre }}</dd>
            <dt>Release Date</dt>
            <dd>{{ movie.Released|date("m/d/Y") }}</dd>
            <dt>Plot</dt>
            <dd>{{ movie.Plot }}</dd>
        </dl>
    </article>

{% endif %}
