<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Premiefier{% endblock %}</title>
    <link href="styles/main.css" rel="stylesheet">
    <base href="{{ app.request.getUriForPath('/') }}">
  </head>
  <body>
    {% if not hideHeader %}
      <header class="header">
        <h1><a href="{{ app.request.getUriForPath('/') }}">Premiefier</a></h1>
        <h2>Be notified about the premiere of awaited movie.</h2>
      </header>

      <hr>
    {% endif %}

    {% block content %}{% endblock %}

    <hr>

    <footer class="footer">
      <small>Made by <a href="http://lamberski.com">Maciej Lamberski</a>. <a href="http://github.com/lamberski/premiefier">Source on GitHub</a>.</small>
    </footer>

    {% block templates %}
      <script id="movies-template" type="x-handlebars-template">
        {% raw %}
          {{#if movies}}
            <section class="movies">
              {{#each movies as |movie movieId|}}
                <article>
                  {{#if movie.posters.thumbnail}}
                    <img src="{{movie.posters.thumbnail}}" alt="">
                  {{/if}}
                  <h1>{{movie.title}}</h1>
                  <dl>
                    <dt>Release Date</dt>
                    <dd>{{movie.release_dates.theater}}</dd>
                    <dt>Synopsis</dt>
                    <dd>{{movie.synopsis}}</dd>
                  </dl>
                </article>
              {{/each}}
            </section>
          {{/if}}
        {% endraw %}
      </script>
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/analytics.js" async></script>
  </body>
</html>
